@keyframes dotsAnimation {
  0% {
    content: '';
  }
  33% {
    content: '.';
  }
  66% {
    content: '..';
  }
  100% {
    content: '...';
  }
}

.loadingDots::before {
  content: '';
  animation: dotsAnimation 1s infinite;
  display: inline-block;
  width: 1em; /* Adjust width as needed */
  height: 1em; /* Adjust height as needed */
}

.loadingDots {
  white-space: nowrap;
}
